body{
    background-color: black;
}

.outer-pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#pokedex-heading{
    margin: 0 auto;
    letter-spacing: 2px;
}

a:visited{
    color:red;
}


